<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tasks</title>
</head>

<body>

    <div>
        <h1>All Tasks</h1>

        <p>Total Tasks: {{ task_count }}</p>

        <ul>

            {% for task in tasks %}

                <li>
                    <p>Title: {{ task.title }}</p>
                    <p>Status: {{ task.status }}</p>

                    {% if task.datils %}
                        <p>Priority: {{ task.datils.priority }}</p>
                    {% endif %}
                </li>

            {% empty %}

                <li>No tasks found.</li>

            {% endfor %}

        </ul>

    </div>

</body>

</html>