<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% comment %} <div>
       <ul>
        {% for k  in key %}
        <li>{{k.status}}</li>
        
        {% endfor %}
       </ul>
    </div>
    <div>
        {{task2}}
    </div>
    <div>
        {{first_task}}
    </div> {% endcomment %}

    {% comment %} <div>

        <ul>
            {% for task in task %}
            <li>
                <p>{{task.title}}</p>
                <span>{{task.status}}</span>
            </li>
            
            {% endfor %}

        </ul>
        
    </div> {% endcomment %}

    {% comment %} <div>

        <ul>
            {% for task in task %}
            <li>
                <p>{{task.title}}</p>
                <span>{{task.status}}</span>
            </li>
            
            {% endfor %}

        </ul>
        
    </div> {% endcomment %}
{% comment %} 

    <div>
        {{task}}
    </div> {% endcomment %}

    {% comment %} <div>
        <ul>
            {% for tasks in tasks  %}
               <li>
                <p>{{tasks.title}}</p>
                <span>{{tasks.datils.priority}}</span>
               </li>
            {% endfor %}
        </ul>
    </div> {% endcomment %}

     {% comment %} <div>
        <ul>
            {% for tasks in tasks  %}
               <li>
                <p>{{tasks.name}}</p>
                {% for task in tasks.task_set.all %}
                  <p>{{task.title}}</p>
                
                {% endfor %}
              
               </li>
            {% endfor %}
        </ul>
    </div> {% endcomment %}

    <div>
        <p>{{ task_count}}</p>
    </div>
    
    
</body>
</html>