



{% extends "dashboard/dashboard.html" %}
{% block title %}Manager Dashboard{% endblock title %}

{% block tasks %}

<div class="bg-white rounded-xl shadow-sm  mb-8 ">
                
                
                <div class="bg-white rounded-xl shadow-sm  mb-8 p-6">
            <div class="grid grid-cols-4 p-4 border-b border-gray-100 test-sm text-gray-500">
                <div>TASK TITLE</div>
                <div>PRIORITY</div>
                <div>TEAM</div>
                <div>CREATED AT</div>
            </div>
         

                   {% comment %} task-items  {% endcomment %}
                   

                    {% for task in tasks  %}
                    <div class="divide-y divide-gray-300 p-6 border border-gray-100">
                     <div class="grid grid-cols-4 gap-4 items-center border-gray-400">
                <div class="flex items-center gap-2">
                <div class="h-2 w-2 bg-yellow-500 rounded-full"></div>
                <div class='flex'>
                    <span>{{task.title}}</span>
                    <a href='{% url "update-task" task.id %}' class="px-3 py-1 bg-green-500" >Edit</a>
                    <form action='{% url "delete-task" task.id %}' method='POST'>
                        {% csrf_token %}
                        <button type='submit' class="px-3 py-1 bg-red-500" >Delete</button>
                    </form>
               
                   
                
                </div>
            </div> 
            <div><span  class="py-1 px-3 rounded-full bg-green-200 text-sm ">{{task.datils.get_priority_display}}</span></div>
            <div>

                <div class="flex -space-x-2">
                    {% for emp in task.assigned_to.all  %}

                    <div class="w-8 h-8 rounded-full bg-green-500 flex items-center justify-center text-sm border-3 border-black">
                        
                        {{emp.name|slice:":2"}}</div>
               
                    {% endfor %}
              

                </div>
            </div>
            <div><span class="text-gray-400">{{task.created_at|timesince}}</span></div>
                   </div>
                      </div>
                    
                    {% endfor %}
                    
            
    
         
        </div>
            {% endblock tasks %}