{% extends "base.html" %}

{% block content %}

     <div class="mx-auto w-1/2 my-9">
            {% if messages %}

            {% for message  in messages %}
            <div class="px-2 py-1 {% if message.tags == 'error' %}bg-red-500{% endif %}">{{message}}</div>
            
            {% endfor %}
            
            {% endif %}
      
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button class="px-2 py-1 bg-amber-400">Login</button>
        </form>
    </div>

    {% endblock content %}

  